@import "tailwindcss";
@theme{
  --color-primary:#0D9AB8;
  --color-secondary:#bae1e8;
  --color-text:#000000;
  --color-bg:#ffffff;
  --color-darkText:#ffffff;
  --color-darkBg:#111111;
  --color-mainBlue:#6D54B5;
}